<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <title>Servicios</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
          <h1 class="navbar-brand" >Inmuebles Colombia</h1>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar un Inmueble" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Inmuebles Colombia</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/segunda">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/tercera">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/iniciarsesion">Iniciar sesion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/v1/formulario">Registrarse</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mas Informacion
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="">Mision</a></li>
                    <li><a class="dropdown-item" href="">Vision</a></li>
                    <li><a class="dropdown-item" href="">Politicas</a></li>
                    <li><a class="dropdown-item" href="">Quienes somos</a></li>
                    <li><a class="dropdown-item" href="">Servicio al clientes</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="">ChatBot</a></li>
                  </ul>
                </li>
              </ul>
              
            </div>
        </div>
    </div>
</nav>
<br><br><br>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Nuestros Servicios</h5>
    </div>
</div><br>

<div class="container-xl" style="width: 70%;">
  <div class="row g-0 bg-light position-relative">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
       
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../publico/img/inmuebless.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../publico/img/departamentos.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
       
        <div class="carousel-item">
          <img src="../publico/img/inmuebles.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

        
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
</div><br>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Estamos ubicados </h5>
    <iframe text-align="center" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3937.3313478797945!2d-75.3940375983218!3d9.303879726468843!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1697592669573!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</body>
<footer class="bg-dark text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright : Joel Antonio Gale Paternina
        </div>
</footer>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <title>Servicios</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
          <h1 class="navbar-brand" >Inmuebles Colombia</h1>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar un Inmueble" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Inmuebles Colombia</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/segunda">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/tercera">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/iniciarsesion">Iniciar sesion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/v1/formulario">Registrarse</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mas Informacion
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="">Mision</a></li>
                    <li><a class="dropdown-item" href="">Vision</a></li>
                    <li><a class="dropdown-item" href="">Politicas</a></li>
                    <li><a class="dropdown-item" href="">Quienes somos</a></li>
                    <li><a class="dropdown-item" href="">Servicio al clientes</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="">ChatBot</a></li>
                  </ul>
                </li>
              </ul>
              
            </div>
        </div>
    </div>
</nav>
<br><br><br>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Nuestros Servicios</h5>
    </div>
</div><br>

<div class="container-xl" style="width: 70%;">
  <div class="row g-0 bg-light position-relative">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
       
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../publico/img/inmuebless.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../publico/img/departamentos.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
       
        <div class="carousel-item">
          <img src="../publico/img/inmuebles.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

        
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
</div><br>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Estamos ubicados </h5>
    <iframe text-align="center" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3937.3313478797945!2d-75.3940375983218!3d9.303879726468843!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1697592669573!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</body>
<footer class="bg-dark text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright : Joel Antonio Gale Paternina
        </div>
</footer>
>>>>>>> a6c4cc47b96054c983047fa4842cc72ee89bdbf7
</html>