<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../publico/css/estilo.css">
  <title>Productos</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
              <h1 class="navbar-brand" >Inmuebles Colombia</h1>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar un articulo" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Inmuebles Colombia</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/segunda">Servicios</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/tercera">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/iniciarsesion">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/v1/formulario">Registrarse</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mas Informacion
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="">Quienes somos</a></li>
                        <li><a class="dropdown-item" href="">Servicio al clientes</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="">ChatBot</a></li>
                      </ul>
                    </li>
                  </ul>
                  
                </div>
            </div>
        </div>
    </nav>
</header>
<br>
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Nuestros Inmuebles</h5>
      </div>
  </div>
<div class="container-md 720px">
<div class="row g-0 bg-light position-relative">
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card"><br>
      <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
      <div class="card-body"><br>
        <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
        <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
      </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card"><br><br>
      <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
        <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="../publico/img/moto.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
        <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container-md 720px">
    <div class="row g-0 bg-light position-relative">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    
      <div class="col">
        <div class="card"><br>
          <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
          <div class="card-body"><br>
            <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
            <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
            <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
          </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card"><br><br>
          <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
            <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card">
          <img src="../publico/img/moto.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
            <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    </div>
    </div>
    <div class="container-md 720px">
        <div class="row g-0 bg-light position-relative">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        
          <div class="col">
            <div class="card"><br>
              <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
              <div class="card-body"><br>
                <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
              </div>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card"><br><br>
              <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card">
              <img src="../publico/img/moto.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        </div>
        </div>
        
        <div class="container-md 720px">
            <div class="row g-0 bg-light position-relative">
            <div class="row row-cols-1 row-cols-md-3 g-4">
            
              <div class="col">
                <div class="card"><br>
                  <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                  <div class="card-body"><br>
                    <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                    <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                  </div>
                  </div>
                </div>
              </div>
            
              <div class="col">
                <div class="card"><br><br>
                  <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                    <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col">
                <div class="card">
                  <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                    <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
            </div>
            </div>
            
            <div class="container-md 720px">
                <div class="row g-0 bg-light position-relative">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                
                  <div class="col">
                    <div class="card"><br>
                      <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                      <div class="card-body"><br>
                        <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                        <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                      </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col">
                    <div class="card"><br><br>
                      <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                        <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col">
                    <div class="card">
                      <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                        <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
                </div>
                </div>
                <div class="container-md 720px">
                    <div class="row g-0 bg-light position-relative">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                    
                      <div class="col">
                        <div class="card"><br>
                          <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                          <div class="card-body"><br>
                            <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                            <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                          </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col">
                        <div class="card"><br><br>
                          <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                            <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col">
                        <div class="card">
                          <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                            <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                    <div class="container-md 720px">
                        <div class="row g-0 bg-light position-relative">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                        
                          <div class="col">
                            <div class="card"><br>
                              <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                              <div class="card-body"><br>
                                <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                                <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                              </div>
                              </div>
                            </div>
                          </div>
                        
                          <div class="col">
                            <div class="card"><br><br>
                              <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                                <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                          <div class="col">
                            <div class="card">
                              <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                                <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                                </div>
                              </div>
                            </div>
                          </div>
   </div>
  </div>
</div>

</body>
<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright : Joel Antonio Gale Paternina
  </div>
</footer>
=======
<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../publico/css/estilo.css">
  <title>Productos</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
              <h1 class="navbar-brand" >Inmuebles Colombia</h1>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar un articulo" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Inmuebles Colombia</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/segunda">Servicios</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/tercera">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/iniciarsesion">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/v1/formulario">Registrarse</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mas Informacion
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="">Quienes somos</a></li>
                        <li><a class="dropdown-item" href="">Servicio al clientes</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="">ChatBot</a></li>
                      </ul>
                    </li>
                  </ul>
                  
                </div>
            </div>
        </div>
    </nav>
</header>
<br>
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Nuestros Inmuebles</h5>
      </div>
  </div>
<div class="container-md 720px">
<div class="row g-0 bg-light position-relative">
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card"><br>
      <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
      <div class="card-body"><br>
        <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
        <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
      </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card"><br><br>
      <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
        <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="../publico/img/moto.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
        <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container-md 720px">
    <div class="row g-0 bg-light position-relative">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    
      <div class="col">
        <div class="card"><br>
          <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
          <div class="card-body"><br>
            <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
            <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
            <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
          </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card"><br><br>
          <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
            <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card">
          <img src="../publico/img/moto.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
            <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    </div>
    </div>
    <div class="container-md 720px">
        <div class="row g-0 bg-light position-relative">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        
          <div class="col">
            <div class="card"><br>
              <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
              <div class="card-body"><br>
                <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
              </div>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card"><br><br>
              <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card">
              <img src="../publico/img/moto.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        </div>
        </div>
        
        <div class="container-md 720px">
            <div class="row g-0 bg-light position-relative">
            <div class="row row-cols-1 row-cols-md-3 g-4">
            
              <div class="col">
                <div class="card"><br>
                  <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                  <div class="card-body"><br>
                    <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                    <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                  </div>
                  </div>
                </div>
              </div>
            
              <div class="col">
                <div class="card"><br><br>
                  <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                    <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col">
                <div class="card">
                  <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                    <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
            </div>
            </div>
            
            <div class="container-md 720px">
                <div class="row g-0 bg-light position-relative">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                
                  <div class="col">
                    <div class="card"><br>
                      <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                      <div class="card-body"><br>
                        <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                        <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                      </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col">
                    <div class="card"><br><br>
                      <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                        <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col">
                    <div class="card">
                      <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                        <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                          <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
                </div>
                </div>
                <div class="container-md 720px">
                    <div class="row g-0 bg-light position-relative">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                    
                      <div class="col">
                        <div class="card"><br>
                          <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                          <div class="card-body"><br>
                            <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                            <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                          </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col">
                        <div class="card"><br><br>
                          <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                            <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col">
                        <div class="card">
                          <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                            <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                              <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                    <div class="container-md 720px">
                        <div class="row g-0 bg-light position-relative">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                        
                          <div class="col">
                            <div class="card"><br>
                              <img src="../publico/img/departamentos.jpg" class="card-img-top" alt="...">
                              <div class="card-body"><br>
                                <h1 class="text-center" style="color:#cb0404">Apartamentos</h1><br>
                                <p class="card-title">Alquilar un departamento es un proceso mediante el cual puedes obtener un lugar para vivir temporalmente sin la necesidad de comprar una propiedad.</p>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                              </div>
                              </div>
                            </div>
                          </div>
                        
                          <div class="col">
                            <div class="card"><br><br>
                              <img src="../publico/img/vehiculo.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h1 class="text-center" style="color:#cb0404">Vehiculos</h1>
                                <p class="card-title">El alquiler de un vehículo implica obtener temporalmente el uso de un automóvil, camioneta u otro medio de transporte. </p>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                          <div class="col">
                            <div class="card">
                              <img src="../publico/img/moto.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h1 class="text-center" style="color:#cb0404">Motocicletas</h1>
                                <p class="card-title">El alquiler de una motocicleta es similar al alquiler de un automóvil, pero en este caso obtienes temporalmente el uso de una motocicleta. </p>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                  <button type="button" class="btn btn-outline-dark btn-lg">Alquilar</button>
                                </div>
                              </div>
                            </div>
                          </div>
   </div>
  </div>
</div>

</body>
<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright : Joel Antonio Gale Paternina
  </div>
</footer>
>>>>>>> a6c4cc47b96054c983047fa4842cc72ee89bdbf7
</html>